@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";
@import "login.css";
@import "greetings.css";
@import "todo.css";
@import "quote.css";

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Rajdhani", sans-serif;
  position: relative;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hidden {
  display: none;
}
